#container{
  background-color: lightcoral;
  padding: 5px;
  border-radius: 10px
}
.card{
  color:yellow;
  background-color : lightblue;
  height: 40vmin;
  width:25vmin;
  border-radius : 5vmin;
  padding-top: 1vmin;
  margin: 2vmin;
  border:solid yellow 5px;
}